<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Flask Python</title>

</head>
<body>
    <h1>Welcome to test Flask</h1>
    <h2>{{session['username']}}</h2>

    <div>
        <h4>End points Users:</h4>
        <span>
            <ol>
                <li>GET /api/users</li>
                <li>POST /api/users</li>
                <li>GET /api/users<id></li>
                <li>PUT /api/users<id></li>
                <li>DELETE /api/users</id></li>
            </ol>
        </span>
    </div>
    <div>
        <h4>End points Publications:</h4>
        <span>
            <ol>
                <li>GET /api/publications</li>
                <li>POST /api/publications</li>
                <li>GET /api/publications<id></li>
                <li>PUT /api/publications<id></li>
                <li>DELETE /api/user/delete</id></li>
            </ol>
        </span>
    </div>

</body>
<footer>
    <div>
        <a href="logout">out</a>
    </div>
</footer>
</html>